# Sevidor.
SERVER_PORT=3000

# Supabase DataBase.
# DATABASE_URL=postgresql://postgres.pcremhblkpmocajmeonv:P0pok@tepel01@aws-0-us-east-2.pooler.supabase.com:5432/postgres

SUPABASE_URL=Aqui_va_la_URL_de_tu_supabase
SUPABASE_KEY=Tu_clave_de_tu_supabase_aqui